<h3><u>Dashboard</u></h3>
<h5>Welcome {{name}} &#128512;</h5>
<p>Your Stories: </p>
{{#if stories}}
<table class="striped">
    <thead>
        <tr class="black white-text">
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each stories}}
        <tr class="hoverable story-table-row">
            <td><a href="/stories/{{_id}}" class="black-text text-darken-2"><b><u>{{title}}</u></b></a></td>
            <td>{{formatDate createdAt 'Do MMMM YYYY, h:mm a'}}</td>
            <td><span class="dash-status">{{status}}</span></td>
            <td>
                <a href="stories/edit/{{_id}}" class="btn btn-float">
                    <i class="fas fa-edit"></i>
                </a>

                <form action="/stories/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn red">
                        <i class="fas fa-trash"></i>
                    </button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h6 class="text-center">You don't have any stories yet, Create one? </h6>

{{/if}}